.results {
    margin-bottom: var(--p-margin);
    @media screen and (max-width: $large_tablet) {
        margin-bottom: calc( var(--p-margin) / 2 );
    }
    &__header {
       background: var(--yellow);
       padding: 34rem 3rem calc( var(--p-margin) / 2 );
       border-radius: 0 0 var(--radius) var(--radius);
       margin-bottom: calc( var(--p-margin) / 2 );
       @media screen and (max-width: $large_tablet) {
            padding: calc( var(--header-height) + ( var(--p-margin) / 2 )  ) 3rem calc( var(--p-margin) / 2 );
            text-align: center;
       }
    }

    &__subtitle {
        color: var(--white);
        margin-bottom: 1.2rem;
        font-size: 2.8rem;
        font-weight: 600;
        letter-spacing: -0.02em; /* -0.056rem при 2.8rem */
        @media screen and (max-width: $large_tablet) {
            font-size: 1.8rem;
            font-weight: 400;
            margin-bottom: 0.8rem;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 3.2rem;
        @media screen and (max-width: $large_tablet) {
            gap: 1.2rem;
        }
    }

    &__item {
        padding: 4rem;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.7rem;
        display: flex;
        border-radius: 2rem;
        background: var(--gray);
        @media screen and (max-width: $large_tablet) {
            padding: 2.4rem;
        }

        &-title {
            font-family: inherit;
            font-size: 2.8rem;
            font-weight: 600;
            letter-spacing: -0.02em; /* -0.056rem при 2.8rem */
            @media screen and (max-width: $large_tablet) {
                font-size: 2rem;
            }
        }

        &-desc {

        }
    }

    &__empty {
        color: var(--blue);
        font-size: 1.8rem;
        margin: 0;
    }
}