.services {

    padding-top: calc( var(--p-margin) / 1.5 );
    @media screen and (max-width: $large_tablet) {
        padding-top: calc( var(--p-margin) / 3 );
    }
    &__list {
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
        @media screen and (max-width: $large_tablet) {
            flex-direction: column;
            gap: 1.2rem;
        }
    }

    &__item {
        width: calc( ( 100% - 2rem*2 ) / 3);
        border-radius: var(--radius);
        background: var(--gray);
        padding: 4rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @media screen and (max-width: $large_tablet) {
            width: 100%;
            padding: 2.4rem;
        }

        &--title {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            @media screen and (max-width: $large_tablet) {
                aspect-ratio: 369/200 !important;
            }
            .simple-title {
                z-index: 2;
                color: white;
                @media screen and (max-width: $large_tablet) {
                    font-size: 4rem !important;
                }
            }
        }

        &-bg {
            object-fit: cover;
            border-radius: inherit;
        }
        &-icon {
            display: flex;
            width: 9rem;
            height: 9rem;
            padding: 1rem;
            justify-content: center;
            align-items: center;
            background-color: var(--white);
            border-radius: 2rem;  
            svg {
                width: 5.8rem;
                height: auto;
                @media screen and (max-width: $large_tablet) {
                    width: 3.8rem;
                }
            } 
            margin-bottom: 3rem;

            @media screen and (max-width: $large_tablet) {
                width: 6rem;
                height: 6rem;
                border-radius: 1rem;
                margin-bottom: 2rem;
            }
        }

        .simple-title {
            @media screen and (max-width: $large_tablet) {
                font-size: 2.8rem;
            }
        }

        &-text {
            margin: 2rem 0px;
            max-width: 43.5rem;
            @media screen and (max-width: $large_tablet) {
                margin: 2rem 0px;
                max-width: 100%;
                font-size: 1.2rem;
                --content-fz: 1.2rem;
            }
        }


        .btn {
            margin-top: auto;
        }
    }

    &__btns {
        display: flex;
        gap: 2rem;
        justify-content: center;
        margin: calc( var(--p-margin) / 2 ) 0px;
        @media screen and (max-width: $large_tablet) {
            flex-direction: column;
            gap: 1.2rem;
            margin-top: 2rem;
        }
    }
}