.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    &--icon-left {
        justify-content: flex-start;
    }
    padding: 2rem;
    border-radius: 5rem;
    background: var(--blue);
    letter-spacing: -0.032rem;
    // #revisions letter-spacing rem->em
    color: var(--white);
    min-width: 20.5rem;
    font-size: 2rem;
    font-weight: 600;

    svg {
        width: 2.3rem;
        height: 2.3rem;
    }


    &--small {
        min-width: 15.5rem;
        font-size: 1.6rem;
        font-weight: 400;
        svg {
            width: 1.8rem;
            height: 1.8rem;
        }
    }


    &--transparent {
        background-color: transparent;
        border: 1px solid var(--blue);
        color: var(--blue);
    }

    &--white {
        background-color: var(--white);
        color: var(--blue);
    }

    &--blue-l {
        background-color: var(--blue-l);
    }

    &--orange {
        background-color: var(--orange);
    }

    &--gray {
        background-color: var(--gray);
        color: var(--blue);
    }
}