.booking {
  
  border-radius: 3rem;
  background: var(--gray);
  padding: calc( var(--p-margin) / 2 ) 15rem;
  display: flex;
  justify-content: space-between;

  &__title {
    font-size: 2.8rem;
    font-weight: 600;
    font-family: inherit;
    max-width: 27rem;
  }

  .form {
    max-width: 78rem;
    flex-direction: column;
    .btn {
      justify-content: center;
      svg {
        display: none;
      }
    }
  }
}
