.service-content {

  .page-screen + & {
    margin-top: calc( var(--p-margin) * -1.15  ) ;
    z-index: 2;
    position: relative;
}

  &__nav-wrap {
    border-radius: var(--radius);
    background: var(--gray);
    padding: calc(var(--p-margin) / 1.5);
    margin-bottom: 2rem;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.6rem;
  }

  &__item {
    display: inline-flex;
  }

  // как у .service__link
  &__link {
    border-radius: 9rem;
    padding: 2rem 3.4rem;
    font-size: 2rem;
    background: var(--white);
    &--active, &:hover {
      font-weight: 600;
      background: var(--blue);
      color: var(--white);
    }

    &:hover {
      font-weight: initial;
    }
    &--active {
      pointer-events: none;
    }
  }

  &__content {
    max-width: 92.5rem;
    margin: calc(var(--p-margin) / 2 ) auto;
    font-size: 2rem;
  }
}
