.careers {
    &__top {
        display: flex;
        gap: 15rem;
        justify-content: space-between;
        margin: calc( var(--p-margin) / 1.5 ) 0px;
        @media screen and (max-width: $large_tablet) {
            flex-direction: column;
            gap: 2.7rem;
        }
    }   

    .simple-title {
        width: 80rem;
        @media screen and (max-width: $large_tablet) {
            width: auto;
            font-size: 2.1rem;
        }
    }

    &__content {
        font-size: 2rem;
        --content-fz: 2rem;
        line-height: 140%;
        letter-spacing: -0.02em; /* -0.04rem при 2rem */
        @media screen and (max-width: $large_tablet) {
            font-size: 1.6rem;
            --content-fz: 1.6rem;
        }
    }

    &__gallery {
        display: flex;
        gap: 2rem;
        margin-bottom: calc( var(--p-margin) / 2 );

        @media screen and (max-width: $large_tablet) {
            flex-direction: column;
            gap: 1.2rem;
        }

        img {
            width: auto;
            height: auto;
            min-height: 100%;
            border-radius: var(--radius);
            object-fit: cover;
            flex-grow: 1;
            min-width: 0px;
        }
    }
}