.infra {
    background: var(--gray);
    padding-top: calc( var(--p-margin) / 2 );
    padding-bottom: var(--p-margin);
    &__list {
        display: flex;
        gap: 2.3rem;
        flex-wrap: wrap;
    }

    &__title {
        margin-bottom: calc( var(--p-margin) / 3 );
    }

    &__item {
        position: relative;
        color: var(--white);
        z-index: 2;
        width: calc( ( 100% - 2.3rem*2 ) / 3 );
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 89/79;

        &-title {
            position: absolute;
            text-align: center;
        }
        &-img {
           position: absolute;
           top: 0px;
           left: 0px;
           width: 100%;
           height: 100%;
           object-fit: cover;
           z-index: -1;
        }

        .btn {
            margin-bottom: 3rem;
            margin-top: auto;
        }
    }
}