.search {
    display: flex;
    max-width: 23.6rem;
    width: 100%;
    line-height: 5.8752rem;
    padding: 1.7rem 1.9rem;
    align-items: center;
    gap: 1.2rem;
    flex-shrink: 0;
    outline: none;
    border-radius: 6rem;
    background: var(--white);
    transition: max-width 0.3s ease-out;

    &:focus-within {
        max-width: 28.4rem; // ~20% шире (23.6 * 1.2)
    }

    &__input {
        border: none;
        outline: none;
        width: 100%;
        color: var(--blue);
        &::placeholder {
            color: var(--blue);
        }
    }

    svg {
        width: 2.4rem;
        height: auto;
        flex-shrink: 0;
    }
}