.news-screen {
    padding: calc( var(--header-height) + var(--p-margin) / 2 ) 0px;
    padding-bottom: calc( var(--p-margin) / 2 );
    min-height: 100vh;
    background-color: var(--gray);
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    @media screen and (max-width: $large_tablet) {
        padding: calc( var(--header-height) + ( var(--p-margin) / 2 )  ) 3rem calc( var(--p-margin) / 2 );
        text-align: center;
        min-height: 1px;
        background-color: var(--yellow);
   }
    &__wrap {
        display: flex;
        gap: 10rem;
        @media screen and (max-width: $large_tablet) {
            justify-content: center;
        }
    }

    &__title {
        margin-top: -0.2em;
        flex-grow: 1;
    }

    &__right {
        display: flex;
        justify-content: flex-end;
        border-left: 0.5px solid var(--blue);
        align-items: flex-start;
        @media screen and (max-width: $large_tablet) {
            display: none;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        max-width: 46.5rem;
        padding: 3rem 2rem;

        &-subtitle {
            font-size: 2.8rem;
            font-weight: 600;
            letter-spacing: -0.02em; /* -0.056rem при 2.8rem */
            margin-bottom: 2.5rem;
        }

        &-title {
            margin-bottom: 3.7rem;
        }

        &-text {
            margin-bottom: 1.52rem;
        }
    }

    &__img {
        width: 60rem;
        img {
            border-radius: var(--radius);
        }
    }

    .decore {
        @media screen and (max-width: $large_tablet) {
            display: none;
        }
    }
    
}