.booking {
  
  border-radius: var(--radius);
  background: var(--gray);
  padding: calc( var(--p-margin) / 1.7 ) 15rem;
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: $large_tablet) {
    flex-direction: column;
    padding: 3rem calc(var(--p-page)*0.1rem);
  }

  &__title {
    font-size: 2.8rem;
    font-weight: 600;
    font-family: inherit;
    max-width: 27rem;
    @media screen and (max-width: $large_tablet) {
      font-size: 2rem;
      margin-bottom: 3rem;
      text-align: center;
      max-width: 100%;
    }

  }

  .form {
    max-width: 78rem;
    flex-direction: column;
    .btn {
      justify-content: center;
      padding: 1.8rem 0px;
      font-size: 1.6rem;
      svg {
        display: none;
      }
    }
  }
}
