:root {
	--fz: 16;
}

.content {
	p {
		font-family: var(--primary-f);

		& + p {
			margin-top: 3rem;
		}

		& + ul {
			margin-top: 1rem;
			margin-bottom: 3.5rem;
		}

		& + img {
			margin-top: 3rem;

			@media screen and (max-width: $large_tablet) {
				min-height: 16rem;
			}
		}

		img {
			margin: 0 0.8rem;
			vertical-align: middle;
		}
	}

	h2, h3, h4, h5, h6 {
		font-weight: 400;
		color: #B4B4B4;
	}

	h2 {
		font-size: calc(42 / var(--fz) * 1em);
		margin: 0 auto 6rem;
	}

	h3 {
		font-size: calc(18 / var(--fz) * 1em);
		margin: 6.5rem 0 2rem;
	}

	h4 {
		font-size: calc(46 / var(--fz) * 1em);
		margin: 4.5rem auto;
	}

	h5 {
		font-size: calc(40 / var(--fz) * 1em);
		margin: 3.5rem auto;
	}

	h6 {
		font-size: calc(34 / var(--fz) * 1em);
		margin: 7rem auto 2.5rem;
	}

	ul,
	ol {
		padding-left: 1.5rem;
	}

	li {
		list-style: initial;
		margin-bottom: 1rem;

		&:last-child {
			margin-bottom: 0;
		}
	}

	img {
		height: auto;
		margin: 8.5rem auto;
	}
}
