:root {

// Font
--primary-f: var(--font-inter), sans-serif;
--secondary-f: var(--font-ivy-presto), sans-serif;
// Color
--black:#000;
--white:#fff;

--blue:#213B65;
--blue-l:#24B9D1;
--gray:#D9E3E0;
--orange:#EB6A2F;
--yellow:#F4B800;

--primary-c: var(--blue);
--secondary-c:#ccc;
--danger-c:#ff0000;
--footer-height: 13rem;
--wrap:1860;
--p-page: 30;
--p-margin: 20rem;
--header-height: calc( 9.4rem + 6.6rem );
--radius: 3rem;
}


// Media
$large_desktop: var(--wrap) + 100 * 2px;
$large_tablet: 1023px;
$large_mobile: 480px;


@media screen and (max-width:$large_tablet) {
  :root {
  	--wrap:768;
    --p-page: 45;
    --p-margin: 10rem;
    --header-height: calc( 7.2rem + 4.8rem );
    --radius: 2rem;
  }
}

@media screen and (max-width:$large_mobile) {
  :root {
  	--wrap:368;
    --p-page: 13;
    --p-margin: 12rem;
  }
}