.contact {
    padding-top: calc( var(--header-height) + 2.2rem );
    margin-bottom: var(--p-margin);

    &__map {
        border-radius: 3rem;
        width: 100%;
        aspect-ratio: 133/58;
        position: relative;
        overflow: hidden;
        iframe {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            border: none;
            filter: brightness(1.15) contrast(0.92) saturate(0.6);
        }
    }

    &__info {
        display: flex;
        gap: 4rem;
        justify-content: space-between;
        padding: 0px 15rem;
        margin: calc( var(--p-margin) / 2 ) auto;

        &-item {
            font-size: 2rem;
        }

        &-title {
            font-size: 2.8rem;
            font-weight: 600;
            margin-bottom: 2.4rem;
            font-family: inherit;
        }

        &-icon {
            &-wrap {
                width: 3.2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                aspect-ratio: 1/1;
                background-color: var(--blue-l);
                border-radius: 0.6rem;
            }
        }

        &-text {
            display: flex;
            align-items: center;
            gap: 1.2rem;

            .contact__info-item:first-child & {
                align-items: flex-start;
            }
        }

        &-link {
            color: inherit;
            text-decoration: none;
        }

        &-text a {
            color: inherit;
            text-decoration: none;
        }
    }
}