.about-screen {
    background-color: var(--blue-l);
    color: var(--white);
    padding-left: calc( ( 100% - 155.6rem ) / 2);
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;

    &__image {
        width: 83rem;
        height: 100vh;
        margin-left: auto;
        flex-shrink: 0;
    }

    &__subtitle {
        border-radius: 7rem;
        background: var(--blue);
        display: flex;
        padding: 2rem;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: -0.02em; /* -0.04rem при 2rem */
        margin-bottom: 5.6rem;
    }

    &__left {
        padding-top: var(--header-height);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-right: 10rem;
    }

    &__content {
        margin-top: 8.7rem;
        max-width: 73rem;
        font-size: 2rem;
    }

    .decore {
        left: calc( var(--p-page)* -0.1rem );
        width: calc(var(--p-page) * 0.2rem + 100% );
    }

}
