.about {
    padding: var(--p-margin) 0px;
    @media screen and (max-width: $large_tablet) {
        padding-top: calc( var(--p-margin) / 2 );
    }
    .center-wrap {
        display: flex;
        align-items: flex-start;
        @media screen and (max-width: $large_tablet) {
            flex-direction: column;
        }
    }
    &__gm {
        width: 45rem;
        border-radius: 2.2rem;
        background: var(--gray);
        padding: 3rem;
        flex-shrink: 0;
        @media screen and (max-width: $large_tablet) {
            width: 24rem;
            padding: 1.5rem;;
            border-radius: 1.2rem;
            margin-bottom: 4rem;
        }
        &-title {
            font-family: var(--secondary-f);
            font-size: 4.2rem;
            font-weight: 700;
            line-height: 108%;
            margin: 1rem 0px;
            @media screen and (max-width: $large_tablet) {
                font-size: 2.25rem;
                @media screen and (max-width: $large_tablet) {
                    margin: 0.5rem 0px;
                }
            }
        }

        img {
            border-radius: 1.48rem;
            @media screen and (max-width: $large_tablet) {
                border-radius: 0.8rem;
            }
        }

        &-position {
            font-size: 2rem;
            @media screen and (max-width: $large_tablet) {
                font-size: 1.1rem;
            }
        }
    }

    &__content {
        padding-left: 9rem;
        margin-left: 9rem;
        position: relative;
        @media screen and (max-width: $large_tablet) {
            padding-left: 3.2rem;
            margin-left: 3.2rem;
        }
        &::before {
            content: "";
            position: absolute;
            left: 0px;
            width: 0.5px;
            height: 100%;
            display: block;
            background-color: var(--blue);
        }
    }

    &__title {
        margin-bottom: 18rem;
        @media screen and (max-width: $large_tablet) {
            margin-bottom: 4rem;
        }
    }

    &__content {
        font-size: 2rem;
        @media screen and (max-width: $large_tablet) {
            font-size: 1.2rem;
        }
    }

    &__items {
        display: flex;
        flex-direction: column;
        gap: var(--p-margin);
        @media screen and (max-width: $large_tablet) {
            gap: calc( var(--p-margin) / 2 );
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        gap: 5.65rem;
        @media screen and (max-width: $large_tablet) {
            gap: 2rem;
        }
        
        img {
            border-radius: var(--radius);
        }

        @media screen and (min-width: $large_tablet) {

        &--hor {
            flex-direction: row;
            gap: 1rem;
            align-items: center;

            img {
                width: calc( 50% - 1rem );
                flex-shrink: 0;
            }
        }
    }
    }
    
}
