.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    &--icon-left {
        justify-content: flex-start;
    }
    padding: 2rem;
    border-radius: 5rem;
    background: var(--blue);
    letter-spacing: -0.016em; /* -0.032rem при 2rem */
    color: var(--white);
    min-width: 20.5rem;
    font-size: 2rem;
    font-weight: 600;
    border: 1px solid transparent;
    transition: background-color 0.25s ease, color 0.25s ease, border-color 0.25s ease;
    @media screen and (max-width: $large_tablet) {
        font-size: 1.6rem;
    }

    svg {
        width: 5.3rem;
        height: 5.3rem;
        @media screen and (max-width: $large_tablet) {
            width: 3.6rem;
            height: 3.6rem;
        }
    }

    &:hover {
        background-color: var(--white);
        color: var(--blue);
        border-color: var(--blue);
    }

    &--small {
        min-width: 15.5rem;
        font-size: 1.6rem;
        font-weight: 400;
        @media screen and (max-width: $large_tablet) {
            font-size: 1.2rem;
        }
        svg {
            width: 1.8rem;
            height: 1.8rem;
        }
    }


    &--transparent {
        background-color: transparent;
        border: 1px solid var(--blue);
        color: var(--blue);

        &:hover {
            background-color: var(--blue);
            color: var(--white);
            border-color: var(--blue);
        }
    }

    &--white {
        background-color: var(--white);
        color: var(--blue);

        &:hover {
            background-color: var(--blue);
            color: var(--white);
        }
    }

    &--blue-l {
        background-color: var(--blue-l);
        color: var(--white);

        &:hover {
            background-color: var(--white);
            color: var(--blue);
            border-color: var(--blue);
        }
    }

    &--orange {
        background-color: var(--orange);

        &:hover {
            background-color: var(--white);
            color: var(--orange);
        }
    }

    &--gray {
        background-color: var(--gray);
        color: var(--blue);

        &:hover {
            background-color: var(--blue);
            color: var(--white);
        }
    }
}