.header {
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0px;
    left: 0px;

    &__item {
        display: flex;
        gap: 1.2rem;
        align-items: center;
        svg {
            width: 2.4rem;
            height: auto;
        }
    }

    &__top {
        height: 6.6rem;
        .center-wrap {
            display: flex;
            justify-content: space-between;
            color: var(--white);
            
        }
    }

    &__main {
        border-radius: 6rem;
        background: rgba(white, 0.60);
        backdrop-filter: blur(2.2rem);

        display: flex;
        height: 9.4rem;
        padding-left: 5rem;
        align-items: center;
    }

    &__logo {
        width: 17.7rem;
        height: auto;
        margin-right: auto;
    }

    &__nav {
        &-list {
            display: flex;
            gap: 5rem;
        }

        margin-right: 7.7rem;

    }
}