.structure {
    padding: var(--p-margin) 0px;
    background: var(--gray);
    &__title {
     margin-bottom: calc( var(--p-margin) / 2 );   
        @media screen and (max-width: $large_tablet) {
            text-align: center;
        }
    }

    &__tab.content {
        font-size: 2rem;
        --content-fz: 2rem; // в паре с font-size, иначе remToEm пересчитывается у h2 и отступы раздуваются
        padding-left: 0.2rem;
        padding-top: 0.5rem;
        @media screen and (max-width: $large_tablet) {
            font-size: 1.2rem;
            --content-fz: 1.2rem; // в паре с font-size, иначе remToEm пересчитывается у h2 и отступы раздуваются
        }
    }

    &__wrap {
        border-radius: var(--radius);
        background: var(--white);
        padding: 3rem;
        display: flex;
        gap: 5.5rem;
        @media screen and (max-width: $large_tablet) {
            flex-direction: column;
            gap: 4rem;
            padding: 2.4rem;
            padding-bottom: 4rem;
        }
    }

    &__nav {
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        @media screen and (max-width: $large_tablet) {
            gap: 1.2rem;
        }
        .btn {
            svg {
                width: 1.8rem;
                height: auto;
            }
        }
    }

    .toogles__title--active  {
        pointer-events: none;
        .btn {
            background-color: var(--blue);
            color: var(--white);
        }
    }
}
