.structure {
    padding: var(--p-margin) 0px;
    background: var(--gray);
    &__title {
     margin-bottom: calc( var(--p-margin) / 2 );   
    }

    &__tab.content ul {
        li {
            list-style-type: disc;
            &::marker {
                color: var(--blue, #1a365d);
            }
        }
        ul {
            padding-left: 1.5rem;
            margin-top: 0.5rem;
            li {
                list-style-type: none;
                &::before {
                    content: "– ";
                    color: var(--blue, #1a365d);
                }
            }
        }
    }

    &__wrap {
        border-radius: var(--radius);
        background: var(--white);
        padding: 3rem;
        display: flex;
        gap: 5.5rem;
    }

    &__nav {
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        .btn {
            svg {
                width: 1.8rem;
                height: auto;
            }
        }
    }

    .toogles__title--active  {
        pointer-events: none;
        .btn {
            background-color: var(--blue);
            color: var(--white);
        }
    }
}
