.footer {
    background-color: var(--blue);
    color: var(--white);
    font-size: 2rem;
    padding-top: calc( var(--p-margin) / 2);
    padding-bottom: var(--p-margin);

    position: relative;
    overflow: hidden;

    &__wrap {
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 2;
    }

    &__logo-link {
        display: block;
        margin-bottom: auto;
    }

    &__logo {
        width: 22.5rem;
        height: auto;
    }

    &__nav {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;


        &--legal {
            margin-top: auto;
            flex-direction: row;
            font-size: 1.2rem;
        }
    }

    &__col {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
    }


    &__decore {
        aspect-ratio: 1920 / 56;
        width: 100%;
        height: auto;
        position: absolute;
        bottom: 0px;
        left: 0px;
        pointer-events: none;
        z-index: 1;
    }

    &__contact {
        &-item {
            display: flex;
            align-items: center;
            gap: 1.2rem;
            svg {
                width: 2.4rem;
                height: auto;
            }
        }
    }
    
}