.new {
    margin-top: calc(var(--header-height) + 2rem);
    background-color: var(--white);
    border-radius: var(--radius);
    margin-bottom: 4rem;
    padding-top: calc( var(--p-margin) / 2 );
    padding-bottom: var(--p-margin);
    position: relative;
    overflow: hidden;
    @media screen and (max-width: $large_tablet) {
        padding-top: 2rem;
    }

    &__wrap {
        display: flex;
        gap: 18rem;
        align-items: flex-start;
        @media screen and (max-width: $large_tablet) {
            flex-direction: column-reverse;
            gap: 3rem;
        }
    }

    &__date {
        font-weight: 600;
        text-decoration-line: underline;
        text-underline-position: from-font;
        display: inline-block;
        @media screen and (max-width: $large_tablet) {
            margin-bottom: 3rem;
        }
    }

    &__title {
        margin: calc( var(--p-margin) / 2.4 ) 0px;
    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 5rem;
        @media screen and (max-width: $large_tablet) {
            flex-direction: column;
            gap: 2rem;
        }
    }

    &__share {
        display: flex;
        align-items: center;
        gap: 1rem;

        &-label {
            font-weight: 600;
        }

        &-icons {
            display: flex;
            align-items: center;
            gap: 1rem;
        }

        &-link {
            color: inherit;
            font-size: 2rem;
            transition: opacity 0.2s;

            &:hover {
                opacity: 0.7;
            }
        }
    }

    &__img {
        border-radius: var(--radius);
        width: 60rem;
        flex-shrink: 0;
    }

    &__content {
        @media screen and (min-width: $large_tablet) {
            font-size: 2rem;
            --content-fz: 2rem;
        }
    }
}
